<p id="notice"><%= notice %></p>

<h1>Listing Categoriaprestadors</h1>

<table>
  <thead>
    <tr>
      <th>Nome categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoriaprestadors.each do |categoriaprestador| %>
      <tr>
        <td><%= categoriaprestador.nome_categoria %></td>
        <td><%= link_to 'Show', categoriaprestador %></td>
        <td><%= link_to 'Edit', edit_categoriaprestador_path(categoriaprestador) %></td>
        <td><%= link_to 'Destroy', categoriaprestador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoriaprestador', new_categoriaprestador_path %>
