<p id="notice"><%= notice %></p>

<h1>Listing Garagems</h1>

<table>
  <thead>
    <tr>
      <th>Numr garagem</th>
      <th>Cobertura</th>
      <th>Condominio</th>
      <th>Apartamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garagems.each do |garagem| %>
      <tr>
        <td><%= garagem.numr_garagem %></td>
        <td><%= garagem.cobertura %></td>
        <td><%= garagem.condominio %></td>
        <td><%= garagem.apartamento %></td>
        <td><%= link_to 'Show', garagem %></td>
        <td><%= link_to 'Edit', edit_garagem_path(garagem) %></td>
        <td><%= link_to 'Destroy', garagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garagem', new_garagem_path %>
