<%= form_for(@identificacao) do |f| %>
  <% if @identificacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@identificacao.errors.count, "error") %> prohibited this identificacao from being saved:</h2>

      <ul>
      <% @identificacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc_identificador %><br>
    <%= f.text_field :desc_identificador %>
  </div>
  <div class="field">
    <%= f.label :desc_nome %><br>
    <%= f.text_field :desc_nome %>
  </div>
  <div class="field">
    <%= f.label :desc_fone %><br>
    <%= f.text_field :desc_fone %>
  </div>
  <div class="field">
    <%= f.label :desc_atividade %><br>
    <%= f.text_area :desc_atividade %>
  </div>
  <div class="field">
    <%= f.label :apartamento_id %><br>
    <%= f.text_field :apartamento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
