<p id="notice"><%= notice %></p>

<h1>Listing Identificacaos</h1>

<table>
  <thead>
    <tr>
      <th>Desc identificador</th>
      <th>Desc nome</th>
      <th>Desc fone</th>
      <th>Desc atividade</th>
      <th>Apartamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @identificacaos.each do |identificacao| %>
      <tr>
        <td><%= identificacao.desc_identificador %></td>
        <td><%= identificacao.desc_nome %></td>
        <td><%= identificacao.desc_fone %></td>
        <td><%= identificacao.desc_atividade %></td>
        <td><%= identificacao.apartamento %></td>
        <td><%= link_to 'Show', identificacao %></td>
        <td><%= link_to 'Edit', edit_identificacao_path(identificacao) %></td>
        <td><%= link_to 'Destroy', identificacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Identificacao', new_identificacao_path %>
