<p id="notice"><%= notice %></p>

<p>
  <strong>Desc identificador:</strong>
  <%= @identificacao.desc_identificador %>
</p>

<p>
  <strong>Desc nome:</strong>
  <%= @identificacao.desc_nome %>
</p>

<p>
  <strong>Desc fone:</strong>
  <%= @identificacao.desc_fone %>
</p>

<p>
  <strong>Desc atividade:</strong>
  <%= @identificacao.desc_atividade %>
</p>

<p>
  <strong>Apartamento:</strong>
  <%= @identificacao.apartamento %>
</p>

<%= link_to 'Edit', edit_identificacao_path(@identificacao) %> |
<%= link_to 'Back', identificacaos_path %>
