<%= form_for(@apartamento) do |f| %>
  <% if @apartamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartamento.errors.count, "error") %> prohibited this apartamento from being saved:</h2>

      <ul>
      <% @apartamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="box-body">
  <div class="row">
    <div class="col-lg-3">
    <%= f.label :numr_apartamento %><br>
    <%= f.text_field :numr_apartamento, :class => 'form-control' %>
   </div>
  </div>
  <div class="row">
   <div class="col-lg-3">
    <%= f.label :numr_bloco %><br>
    <%= f.text_field :numr_bloco, :class => 'form-control' %>
   </div>
  </div>


  <%= f.hidden_field :condominio_id, :value => current_user.condominio_id %>

</div>
</div><!-- /.box -->

<div class="row mar-bot40">
 <div class="col-lg-8" >
    <div class="btn-group">
      <button type="submit" value="Submit" class="btn btn-primary btn-sm">
       <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
      </button>
      <%= link_to apartamentos_path, :class => "btn btn-default btn-sm" do %>
         <span class="glyphicon glyphicon-arrow-left"></span> Voltar
       <% end %>
     </div>
   </div>
</div>
</section>

<% end %>
