<%= form_for(@apartamento) do |f| %>
<div class="box-body">

  <% if @apartamento.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(@apartamento.errors.count, "erro") %></h4>

      <ul>
      <% @apartamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-3">
    <label>N° Apartamento</label><br>
    <%= f.text_field :numr_apartamento, :class => 'form-control', :required=>true%>
   </div>
  </div>

  <div class="row">
   <div class="col-lg-3">
    <%= f.label :Bloco %><br>
    <%= f.text_field :numr_bloco, :class => 'form-control', :required=>true %>
   </div>
  </div>

  <div class="row">
        <div class="col-lg-5">
             <label>Proprietário</label>
            <input type="text" class="form-control" id="nome_proprietario" name="nome_proprietario" placeholder="Pesquise pelo Morador" onfocus="javascript:$(this).autocomplete('search','');">
             <%= f.hidden_field :pessoa_id%>
        </div>
  </div>

 <hr>
  <div class="row">
    <div class="col-lg-2">
      <h4>Dados Garagem</h4>
    </div>
   </div>
  <div id="garagems">
    <%= f.fields_for :garagems do |item| %>
       <%= render 'garagem_fields', :f => item %>
     <% end %>
      <div class='links'>
      <br>
        <%= link_to_add_association 'Nova Vaga', f, :garagems, :class => "btn btn-default btn-xs" %>
      </div>
  </div>


   <%= f.hidden_field :condominio_id, :value => current_user.condominio_id %>

</div>
</div><!-- /.box -->

<div class="row mar-bot40">
 <div class="col-lg-8" >
    <div class="btn-group">
      <button type="submit" value="Submit" class="btn btn-primary btn-sm">
       <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
      </button>
      <%= link_to apartamentos_path, :class => "btn btn-default btn-sm" do %>
         <span class="glyphicon glyphicon-arrow-left"></span> Voltar
       <% end %>
     </div>
   </div>
</div>
</section>

<% end %>


<script type="text/javascript">

$(document).ready(function() {
     $('#nome_proprietario').autocomplete({
     source: '/buscamorador',
     dataType: 'json',
     minLength: 0,
     change: function(event, ui) {
     if (!ui.item) {
       $('#nome_proprietario').val('');
     }
  },
  select: function(event, ui) {
      if (ui.item) {
            $("#apartamento_pessoa_id").val(ui.item.pessoa_id);
         }
       }
   });
});

</script>
