<p id="notice"><%= notice %></p>

<p>
  <strong>Valr despesa:</strong>
  <%= @despesa.valr_despesa %>
</p>

<p>
  <strong>Numr qtdparcela:</strong>
  <%= @despesa.numr_qtdparcela %>
</p>

<p>
  <strong>Condominio:</strong>
  <%= @despesa.condominio %>
</p>

<p>
  <strong>Prestador:</strong>
  <%= @despesa.prestador %>
</p>

<%= link_to 'Edit', edit_despesa_path(@despesa) %> |
<%= link_to 'Back', despesas_path %>
