<section class="content-header">

<%= form_tag nil, method: 'GET' do %>
<div class="well">
    <div class="row">
      <div class='col-sm-2'>
         <label for="data_inicio">Data Início</label>
          <div class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                  <input type='text' id="data_inicio" name="data_inicio" class="form-control" value="<%=@data_inicio%>" />
                  <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <div class='col-sm-2'>
         <label for="data_inicio">Data Fim</label>
          <div class="form-group">
              <div class='input-group date' id='datetimepicker2'>
                  <input type='text' id="data_fim" name="data_fim" class="form-control" value="<%=@data_fim%>" />
                  <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </span>
              </div>
          </div>
      </div>

      <div class="col-lg-2">
        <div class="checkbox">
          <%if @flag_pago == true%>
            <label><input type="checkbox" id="flag_pago" name="flag_pago" checked="checked">Pagas</label>
            <%else%>
            <label><input type="checkbox" id="flag_pago" name="flag_pago">Pagas</label>
          <%end%>
          <%if @flag_naopago == true%>
             <label><input type="checkbox" id="flag_naopago" name="flag_naopago" checked="checked">Não pagas</label>
          <%else%>
            <label><input type="checkbox" id="flag_naopago" name="flag_naopago">Não pagas</label>
           <%end%>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="checkbox">
          <%if @despesa_fixa == true%>
             <label><input type="checkbox" id="flag_despesafixa" name="flag_despesafixa" checked="checked">Despesa Fixa</label>
           <%else%>
           <label><input type="checkbox" id="flag_despesafixa" name="flag_despesafixa">Despesa Fixa</label>
          <%end%>
          <%if @despesa_ordinaria == true %>
            <label><input type="checkbox" id="flag_ordinaria" name="flag_ordinaria" checked="checked">Despesa Ordinária</label>
            <%else%>
            <label><input type="checkbox" id="flag_ordinaria" name="flag_ordinaria">Despesa Ordinária</label>
          <%end%>
        </div>
      </div>

          <input type="text" name="id_prestador" style="width:0px;display:none" id="id_prestador" class="form-control">

    </div>

    <div class="row">
      <div class="col-lg-2">
        <label>N° Fiscal</label>
        <input type="text" name="notafiscal" id="notafiscal" class="form-control" value="<%=@notafiscal%>" >
      </div>
      <div class="col-lg-2">
        <label>Cheque</label>
        <input type="text" name="cheque" id="cheque" class="form-control" value="<%=@cheque%>">
      </div>
      <div class="col-lg-4">
        <label>Prestador</label>
        <input type="text" name="nomeprestador" id="nomeprestador" placeholder="Pesquise pelo nome do prestador" value="<%=@nome_prestador%>" onfocus="javascript:$(this).autocomplete('search','');" class="form-control">
      </div>
      <div class="col-lg-3">
        <div class="btn-group-vertical">
        <button class="btn btn-primary" type="submit" name="imprimir" value="html" data-target="_blank">
          <span class="glyphicon glyphicon-search"></span> Pesquisar
        </button>
          <%= link_to relatoriodespesa_relatorio_path(format: :pdf,
                                                     data_inicio: @data_inicio,
                                                     data_fim: @data_fim,
                                                     tipoocorrencia_id: @tipoocorrencia,
                                                     apartamento_id: @apartamento),
                                                     method: :get, class: "btn btn-success" do %>
              <span class="glyphicon glyphicon-print"></span> Imprimir PDF
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</section>

<!-- Main content -->
<section class="content">
   <!-- Small boxes (Stat box) -->
      <div class="box box-primary">
     <div class="box-body table-responsive no-padding table-condensed">
         <table class="table table-hover">
           <thead>
             <tr>
               <th>Dt. vencimento</th>
               <th>Valor</th>
               <th>Data PGTO</th>
               <th>Prestador</th>
               <th>Observação</th>
             </tr>
           </thead>
           <tbody>
               <% @dividas.each do |divida| %>
               <tr>
                 <td><%=divida.data_vencimento.strftime("%d/%m/%Y")%></td>
                 <td><%=number_to_currency(divida.valr_divida , unit: "R$", separator: ",", delimiter: "")%></td>
                 <td><%=divida.data_pagamento.blank? ? '' : divida.data_pagamento.strftime("%d/%m/%Y")%></td>
                 <td><%=divida.prestador.nome_prestador%></td>
                 <td><%=divida.desc_observacao%></td>
               </tr>
             <% end %>
           </tbody>
         </table>
       </div>
     </div><!-- /.box -->

 </section>

<script type="text/javascript">

    $(function () {
       $('#datetimepicker1').datepicker({
         format: 'dd/mm/yyyy',
         language: 'pt-BR'
       });

       $('#datetimepicker2').datepicker({
         format: 'dd/mm/yyyy',
         language: 'pt-BR'
       });
    });


    //pesquisa prestador modal
      $(document).ready(function() {
             $('#nomeprestador').autocomplete({
             source: '/buscaprestador',
             dataType: 'json',
             minLength: 0,
             change: function(event, ui) {
             if (!ui.item) {
               $('#nomeprestador').val('');
             }
          },
          select: function(event, ui) {
              if (ui.item) {
                    $("#id_prestador").val(ui.item.id);
                 }
               }
           });
        });

</script>
