<%= form_for(@grupopermissaouser) do |f| %>
  <% if @grupopermissaouser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grupopermissaouser.errors.count, "error") %> prohibited this grupopermissaouser from being saved:</h2>

      <ul>
      <% @grupopermissaouser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :grupopermissao_id %><br>
    <%= f.text_field :grupopermissao_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
