<section class="content-header">
    <h1>
      <!--Mensagens aqui-->
      <%if notice %>
       <!-- <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>  <i class="icon fa fa-check"></i>Mensagem</h4>
          <%#= notice %>
      </div> -->
      <%end%>
    <!--<small></small>-->
    </h1>
</section>

<!-- Main content -->
<section class="content">
   <!-- Small boxes (Stat box) -->
      <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Cadastro de pessoas Autorizadas ou Bloqueadas</h3>
             </div><!-- /.box-header -->
     <div class="box-body table-responsive no-padding">
         <table class="table table-hover">
           <thead>
             <tr>
               <th>Identificação</th>
               <th>Nome</th>
               <th>Seg</th>
               <th>Ter</th>
               <th>Qua</th>
               <th>Qui</th>
               <th>Sex</th>
               <th>Sáb</th>
               <th>Dom</th>
               <th>Nessa.Data</th>
               <th>Data.Inicio</th>
               <th>Data.Fim</th>
               <th>Hora.Inicio</th>
               <th>Hora.Fim</th>
               <th colspan="3"></th>
             </tr>
           </thead>

           <tbody>
             <% @pessoaautorizadas.each do |pessoaautorizada| %>
               <tr>
                 <td><%= pessoaautorizada.identificacao.desc_identificador %></td>
                 <td><%= pessoaautorizada.identificacao.desc_nome %></td>
                 <td><%= pessoaautorizada.flag_segunda? ? 'Sim' : 'Não' %></td>
                 <td><%= pessoaautorizada.flag_terca? ? 'Sim' : 'Não' %></td>
                 <td><%= pessoaautorizada.flag_quarta? ? 'Sim' : 'Não' %></td>
                 <td><%= pessoaautorizada.flag_quinta? ? 'Sim' : 'Não' %></td>
                 <td><%= pessoaautorizada.flag_sexta? ? 'Sim' : 'Não' %></td>
                 <td><%= pessoaautorizada.flag_sabado? ? 'Sim' : 'Não' %></td>
                 <td><%= pessoaautorizada.flag_domingo? ? 'Sim' : 'Não' %></td>
                 <td><%= pessoaautorizada.data_nessadata.blank? ? '' : pessoaautorizada.data_nessadata.strftime("%d/%m/%Y")%></td>
                 <td><%= pessoaautorizada.data_periodoinicio.blank? ? '' : pessoaautorizada.data_periodoinicio.strftime("%d/%m/%Y")%></td>
                 <td><%= pessoaautorizada.data_periodofim.blank? ? '' : pessoaautorizada.data_periodofim.strftime("%d/%m/%Y")%></td>
                 <td><%= pessoaautorizada.numr_horainicio %></td>
                 <td><%= pessoaautorizada.numr_horafim %></td>
               <td align='right'>
                 <div class="btn-group">
                     <%= link_to pessoaautorizada, class: "btn btn-default btn-sm" do %>
                       <span class="glyphicon glyphicon-list-alt text-success"></span>
                     <% end %>
                     <%= link_to edit_pessoaautorizada_path(pessoaautorizada), class: "btn btn-default btn-sm" do %>
                       <span class="glyphicon glyphicon-pencil text-primary"></span>
                     <% end %>
                    <%= link_to pessoaautorizada, method: :delete, data: { confirm: 'Deseja excluir o registro?' }, class: "btn btn-default btn-sm" do %>
                       <span class="glyphicon glyphicon-trash text-danger"></span>
                     <% end %>
                   </div>
                 </td>
               </tr>
             <% end %>
           </tbody>
         </table>
       </div>
     </div><!-- /.box -->
          <%= link_to new_pessoaautorizada_path, class: "btn btn-default btn-sm" do %>
                 <span class="glyphicon glyphicon-file"></span>Novo
         <% end %>
 </section>

<br>


<style media="screen">
.table > tbody > tr > td {
  font-size: 12px;
}

.table > thead > tr > th {
  font-size: 12px;
}
</style>
