<p id="notice"><%= notice %></p>

<p>
  <strong>Identificacao:</strong>
  <%= @pessoaautorizada.identificacao %>
</p>

<p>
  <strong>Flag pessoaautorizada:</strong>
  <%= @pessoaautorizada.flag_pessoaautorizada %>
</p>

<p>
  <strong>Flag pessoabloqueada:</strong>
  <%= @pessoaautorizada.flag_pessoabloqueada %>
</p>

<p>
  <strong>Desc atribuicao:</strong>
  <%= @pessoaautorizada.desc_atribuicao %>
</p>

<p>
  <strong>Flag todasemana:</strong>
  <%= @pessoaautorizada.flag_todasemana %>
</p>

<p>
  <strong>Flag segunda:</strong>
  <%= @pessoaautorizada.flag_segunda %>
</p>

<p>
  <strong>Flag terca:</strong>
  <%= @pessoaautorizada.flag_terca %>
</p>

<p>
  <strong>Flag quarta:</strong>
  <%= @pessoaautorizada.flag_quarta %>
</p>

<p>
  <strong>Flag quinta:</strong>
  <%= @pessoaautorizada.flag_quinta %>
</p>

<p>
  <strong>Flag sexta:</strong>
  <%= @pessoaautorizada.flag_sexta %>
</p>

<p>
  <strong>Flag sabado:</strong>
  <%= @pessoaautorizada.flag_sabado %>
</p>

<p>
  <strong>Flag domingo:</strong>
  <%= @pessoaautorizada.flag_domingo %>
</p>

<p>
  <strong>Flag periodo:</strong>
  <%= @pessoaautorizada.flag_periodo %>
</p>

<p>
  <strong>Data periodoinicio:</strong>
  <%= @pessoaautorizada.data_periodoinicio %>
</p>

<p>
  <strong>Data periodofim:</strong>
  <%= @pessoaautorizada.data_periodofim %>
</p>

<p>
  <strong>Flag nestadata:</strong>
  <%= @pessoaautorizada.flag_nestadata %>
</p>

<p>
  <strong>Data nessadata:</strong>
  <%= @pessoaautorizada.data_nessadata %>
</p>

<p>
  <strong>Numr horainicio:</strong>
  <%= @pessoaautorizada.numr_horainicio %>
</p>

<p>
  <strong>Numr horafim:</strong>
  <%= @pessoaautorizada.numr_horafim %>
</p>

<p>
  <strong>Condominio:</strong>
  <%= @pessoaautorizada.condominio %>
</p>

<%= link_to 'Edit', edit_pessoaautorizada_path(@pessoaautorizada) %> |
<%= link_to 'Back', pessoaautorizadas_path %>
