<section class="content-header">
    <%if notice%>
      <div class="alert alert-success" role="alert"><%= notice %></div>
      <%end%>
</section>


<!-- Main content -->
<section class="content">
 <!-- Small boxes (Stat box) -->
<div class="box box-primary">
   <div class="box-header with-border">
      <h3 class="box-title">Morador</h3>
    </div><!-- /.box-header -->
<form role="form">
<div class="box-body">

<p>
  <strong>RG:</strong>
  <%= @pessoaautorizada.identificacao.desc_identificador %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @pessoaautorizada.identificacao.desc_nome %>
</p>

<p>
  <strong>Pessoa autorizada:</strong>
  <%= @pessoaautorizada.flag_pessoaautorizada? ? 'Sim' : 'Não' %>
</p>

<p>
  <strong>Pessoa bloqueada:</strong>
  <%= @pessoaautorizada.flag_pessoabloqueada? ? 'Sim' : 'Não' %>
</p>

<p>
  <strong>Atribuições:</strong>
  <%= @pessoaautorizada.desc_atribuicao %>
</p>


<h3>Dias autorizados</h3>
<p>
  <strong>Segunda:</strong>
  <%= @pessoaautorizada.flag_segunda? ? 'Sim' : 'Não' %>
</p>

<p>
  <strong>Terça:</strong>
  <%= @pessoaautorizada.flag_terca? ? 'Sim' : 'Não' %>
</p>

<p>
  <strong>Quarta:</strong>
  <%= @pessoaautorizada.flag_quarta? ? 'Sim' : 'Não' %>
</p>

<p>
  <strong>Quinta:</strong>
  <%= @pessoaautorizada.flag_quinta? ? 'Sim' : 'Não' %>
</p>

<p>
  <strong>Sexta:</strong>
  <%= @pessoaautorizada.flag_sexta? ? 'Sim' : 'Não' %>
</p>

<p>
  <strong>Sábado:</strong>
  <%= @pessoaautorizada.flag_sabado? ? 'Sim' : 'Não' %>
</p>

<p>
  <strong>Domingo:</strong>
  <%= @pessoaautorizada.flag_domingo? ? 'Sim' : 'Não' %>
</p>

<p>
  <strong>Data Inicio:</strong>
  <%= @pessoaautorizada.data_periodoinicio.blank? ? '' : @pessoaautorizada.data_periodoinicio.strftime("%d/%m/%Y")%>
</p>

<p>
  <strong>Data Fim:</strong>
  <%= @pessoaautorizada.data_periodofim.blank? ? '' : @pessoaautorizada.data_periodofim.strftime("%d/%m/%Y")%>
</p>

<p>
  <strong>Data nessadata:</strong>
  <%= @pessoaautorizada.data_nessadata.blank? ? '' : @pessoaautorizada.data_nessadata.strftime("%d/%m/%Y")%>
</p>

<p>
  <strong>Hora Inicio:</strong>
  <%= @pessoaautorizada.numr_horainicio %>
</p>

<p>
  <strong>Hora fim:</strong>
  <%= @pessoaautorizada.numr_horafim %>
</p>



</div><!-- /.box -->
</form>
</div><!-- /.box-body -->

<div class="btn-group">
     <%= link_to edit_pessoaautorizada_path(@pessoaautorizada), :class => "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-pencil"></span> Editar
<% end %>
<%= link_to pessoaautorizadas_path, :class => "btn btn-default btn-sm" do %>
   <span class="glyphicon glyphicon-arrow-left"></span> Voltar
<% end %>
</div>
