<p id="notice"><%= notice %></p>

<p>
  <strong>Nome categoria:</strong>
  <%= @categoriamural.nome_categoria %>
</p>

<p>
  <strong>Condiminio:</strong>
  <%= @categoriamural.condiminio %>
</p>

<%= link_to 'Edit', edit_categoriamural_path(@categoriamural) %> |
<%= link_to 'Back', categoriamurals_path %>
