<section class="content-header">
    <h1>
      <!--Mensagens aqui-->
      <%if notice %>
       <!-- <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>  <i class="icon fa fa-check"></i>Mensagem</h4>
          <%#= notice %>
      </div> -->
      <%end%>
    <!--<small></small>-->
    </h1>
</section>

<!-- Main content -->
<section class="content">
   <!-- Small boxes (Stat box) -->
      <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Controle de acesso</h3>
             </div><!-- /.box-header -->
     <div class="box-body table-responsive no-padding">
         <table class="table table-hover table-condensed">
           <thead>
             <tr>
               <th>Unidade</th>
               <th>Dt Ocorrencia</th>
               <th>Identificador</th>
               <th>Nome Identificação</th>
               <th>Descrição</th>
               <th>Baixa</th>
             </tr>
           </thead>

           <tbody>
               <% @ocorrencia.each do |ocorrencium| %>
               <tr>
                 <td><%= ocorrencium.apartamento.numr_bloco %> - <%= ocorrencium.apartamento.numr_apartamento %></td>
                 <td><%= ocorrencium.created_at.blank? ? '' : ocorrencium.created_at.strftime("%d/%m/%Y %H:%M:%S")%></td>
                 <td><%= ocorrencium.identificacao.desc_identificador %></td>
                 <td><%= ocorrencium.identificacao.desc_nome %></td>
                 <td><%= ocorrencium.desc_ocorrencia %></td>
               <td align='center'>
                 <div class="btn-group">

                     <%= link_to baixa_ocorrencia_ocorrencium_path(ocorrencium), class: "btn btn-default btn-sm" do %>
                       <span class="glyphicon glyphicon-ok"></span>
                     <% end %>
                 </div>
                 </td>
               </tr>
             <% end %>
           </tbody>
         </table>
       </div>
     </div><!-- /.box -->
          <%= link_to new_ocorrencium_path, class: "btn btn-default btn-sm" do %>
                 <span class="glyphicon glyphicon-file"></span>Novo
         <% end %>
 </section>
