<p id="notice"><%= notice %></p>

<p>
  <strong>Data ocorrencia:</strong>
  <%= @ocorrencium.data_ocorrencia %>
</p>

<p>
  <strong>Desc ocorrencia:</strong>
  <%= @ocorrencium.desc_ocorrencia %>
</p>

<p>
  <strong>Data saida:</strong>
  <%= @ocorrencium.data_saida %>
</p>

<p>
  <strong>Qdt minutos:</strong>
  <%= @ocorrencium.qdt_minutos %>
</p>

<p>
  <strong>Identificacao:</strong>
  <%= @ocorrencium.identificacao %>
</p>

<%= link_to 'Edit', edit_ocorrencium_path(@ocorrencium) %> |
<%= link_to 'Back', ocorrencia_path %>
