<%= form_for(@morador) do |f| %>
  <% if @morador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@morador.errors.count, "error") %> prohibited this morador from being saved:</h2>

      <ul>
      <% @morador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="box-body">


<%= f.fields_for :pessoa do |p| %>

<div class="row">
<div class="col-lg-3">
   <label>CPF</label><br>
   <div class="input-group">
      <%= p.text_field :cpf, :maxlength => 11, :class => 'form-control' %>
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" onclick="validaPessoa();">Validar CPF</button>
      </span>
   </div>
  </div>
</div>

<div class="row">
 <div class="col-lg-6">
     <%= p.label :Nome_morador %><br>
     <%= p.text_field :nome_pessoa, disabled: true, :class => 'form-control' %>
   </div>
</div>

<div class="row">
  <div class="col-lg-3">
      <label>RG</label><br>
      <%= p.text_field :rg, disabled: true, :class => 'form-control'  %>
    </div>
</div>

<div class="row">
 <div class="col-lg-4">
     <%= p.label :Telefone %><br>
     <%= p.text_field :desc_fone, disabled: true, :class => 'form-control' %>
   </div>
</div>

<%end%>

 <%= f.hidden_field :pessoa_id %>
 <%= f.hidden_field :user_inclusao, :value=>current_user.id%>
 <%= f.hidden_field :condominio_id, :value=> current_user.condominio_id%>

<div class="row">
      <div class="col-lg-6">
        <%= f.label :Selecione_o_apartamento %><br>
        <%= f.select :apartamento_id, options_from_collection_for_select(Apartamento.where(condominio_id: current_user.condominio_id), 'id', 'nome'), {:include_blank => true}, {:class => 'form-control', disabled: true, }%>
      </div>
</div>

  </div>
</div><!-- /.box -->

  <div class="row mar-bot40">
    <div class="col-lg-8" >
       <div class="btn-group">
         <button type="submit" value="Submit" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
         </button>
         <%= link_to moradors_path, :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-arrow-left"></span> Voltar
          <% end %>
        </div>
      </div>
  </div>
</section>
<% end %>


<script type="text/javascript">

function validaPessoa(){
  $.ajax({
    url: '<%= validaPessoa_path %>',
    data : {
      cpf : $("#morador_pessoa_attributes_cpf").val()
    },
    success: function(data){

      for (var i in data) {
        var item = data[i];
        $("#morador_pessoa_attributes_nome_pessoa").val(item.nome);
        $("#morador_pessoa_attributes_cpf").val(item.cpf);
        $("#morador_pessoa_attributes_rg").val(item.rg);
        $("#morador_pessoa_attributes_desc_fone").val(item.rg);
        $("#morador_pessoa_id").val(item.id);
        $('#morador_apartamento_id').removeAttr('disabled');
         return;
      };

      $("#morador_pessoa_attributes_nome_pessoa").removeAttr('disabled');
      $("#morador_pessoa_attributes_cpf").removeAttr('disabled');
      $("#morador_pessoa_attributes_rg").removeAttr('disabled');
      $("#morador_pessoa_attributes_desc_fone").removeAttr('disabled');
      $("#morador_pessoa_id").removeAttr('disabled');
      $("#morador_apartamento_id").removeAttr('disabled');
    }
  })

};

</script>
