<div class="box-body">
<%= form_for(@morador) do |f| %>
  <% if @morador.errors.any? %>
    <div id="error_explanation">
    <div class="alert alert-danger alert-dismissable fade in">
         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         <ul>
         <% @morador.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
         </ul>
    </div>
  </div>
  <% end %>
<%= f.fields_for :pessoa do |p| %>

<div class="row">
<div class="col-lg-4">
   <label>CPF</label><br>
   <!-- <div class="input-group"> -->
      <%= p.text_field :cpf, :maxlength => 11, :class => 'form-control' %>
      <!-- <span class="input-group-btn">
        <button class="btn btn-success" type="button" onclick="validaPessoa();">Validar CPF</button>
      </span> -->
   <!-- </div> -->
  </div>
</div>

<div class="row">
 <div class="col-lg-6">
     <%= p.label :Nome_morador %><br>
     <%= p.text_field :nome_pessoa, :class => 'form-control' %>
   </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <label>Email</label><br>
    <%= p.text_field :email_pessoa, :class => 'form-control'%>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
      <label>RG</label><br>
      <%= p.text_field :rg, :class => 'form-control'  %>
    </div>
</div>

<div class="row">
 <div class="col-lg-3">
     <%= p.label :Telefone %><br>
     <%= p.text_field :desc_fone, :class => 'form-control' %>
   </div>
</div>
<div class="row">
 <div class="col-lg-3">
     <label>ID Biometrico</label>
     <%= p.text_field :numr_idbiometrico, :class => 'form-control' %>
   </div>
</div>
<br>

<% unless p.object.new_record? %>
  <div class="col-lg-6" >
      <%= link_to image_tag(p.object.avatar.url(:thumb)),
      p.object.avatar.url(:original)%>
  </div>
<%end%>

<div class="row">
   <div class="col-lg-6">
     <!-- <label>Adicionar foto</label> -->
      <%= p.file_field :avatar %>
  </div>

  <!-- <div class="col-lg-6">
    <button type="button" onclick="openCamera()" class="btn btn-default">
  <span class="fa fa-camera"></span> Câmera
    </button>
  </div> -->
</div>
<%end%>

<input type="hidden" name="avatar" id="avatar">

<br>
 <%= f.hidden_field :pessoa_id %>
 <%= f.hidden_field :user_inclusao, :value=>current_user.id%>
 <%= f.hidden_field :condominio_id, :value=> current_user.condominio_id%>

<div class="row">
      <div class="col-lg-6">
        <%= f.label :Selecione_o_apartamento %><br>
        <%= f.select :apartamento_id, options_from_collection_for_select(Apartamento.where(condominio_id: current_user.condominio_id), 'id', 'nome'), {:include_blank => true}, {:class => 'form-control'}%>
      </div>
</div>
</div>
</div><!-- /.box -->

  <div class="row mar-bot40">
    <div class="col-lg-8" >
       <div class="btn-group">
         <button type="submit" value="Submit" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
         </button>
         <%= link_to moradors_path, :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-arrow-left"></span> Voltar
          <% end %>
        </div>
      </div>
  </div>
</section>
<% end %>

<div id="myModalCamera" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Câmera</h4>
      </div>
      <div class="modal-body">
        <video id="video" width="570" height="480" autoplay></video>
        <canvas id="canvas" width="570" height="480"></canvas>
      </div>
      <div class="modal-footer">
        <button id="snap" class="btn btn-primary">Tirar Foto</button>
        <button id="descartar" class="btn btn-default">Descartar</button>
        <button id="usar" class="btn btn-default">Usar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal informativo -->
<div id="myModalInformativo" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="fechar" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aviso</h4>
      </div>
      <div class="modal-body">
        <div id='mensagem'>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">



function openCamera(){
var localStream;

 $("#video").show();
 $("#canvas").hide();
 $("#descartar").hide();
 $("#usar").hide();

  // Grab elements, create settings, etc.
  var video = document.getElementById('video');
  // Get access to the camera!
  if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      // Not adding `{ audio: true }` since we only want video now
      navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
          video.src = window.URL.createObjectURL(stream);
          localStream = stream;
          video.play();
      });
  }

$("#myModalCamera").modal()

  // Elements for taking the snapshot
  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var video = document.getElementById('video');

  // Trigger photo take
  document.getElementById("snap").addEventListener("click", function() {
   $("#canvas").show();
   $("#video").hide();
   $("#descartar").show();
   $("#usar").show();
  	context.drawImage(video, 0, 0, 570, 480);
    // debugger
  //  var x = canvas.toDataURL('image/jpg');
  //  alert(x);
  });

  document.getElementById("descartar").addEventListener("click", function() {
    $("#descartar").hide();
    $("#canvas").hide();
    $("#video").show();
  });

  document.getElementById("usar").addEventListener("click", function() {

     $("#avatar").val(canvas.toDataURL('image/jpg'));
    // navigator.mediaDevices.getUserMedia({audio: false, video: true}).then(stream => {
    //   stream.getVideoTracks()[0].stop(); // Recommended
    // });
    localStream.stop();
    //$("#fechar").click();
    $("#myModalCamera").modal('hide');
  });
}

function validaPessoa(){
  $.ajax({
    url: '<%= validaPessoa_path %>',
    data : {
      cpf : $("#morador_pessoa_attributes_cpf").val()
    },
    success: function(data){

      if (data == ""){
          limparTela();
          return;
      }
      for (var i in data) {
        var item = data[i];
        $("#morador_pessoa_attributes_nome_pessoa").val(item.nome);
        $("#morador_pessoa_attributes_cpf").val(item.cpf);
        $("#morador_pessoa_attributes_rg").val(item.rg);
        $("#morador_pessoa_attributes_desc_fone").val(item.telefone);
        $("#morador_pessoa_id").val(item.id);
        $('#morador_apartamento_id').removeAttr('disabled');

         $("#mensagem").empty();
        if (item.situacao == 1 ){
           $("#mensagem").append("<h5>Encontramos uma pessoa cadastrada em nossa base de dados com esse CPF altere os dados necessários e salve</h5>");
         }else if(item.situacao == 2){
           $("#mensagem").append("<h5>Esse morador já está cadastrado.</h5>");
         }
           chamaModel();
         return;
      };
    }
  })
};

function limparTela(){
  $("#morador_pessoa_attributes_nome_pessoa").val("");
  $("#morador_pessoa_attributes_rg").val("");
  $("#morador_pessoa_attributes_desc_fone").val("");
  $("#morador_pessoa_id").val("");
}

function chamaModel(){
   $("#myModalInformativo").modal()
}

$("#morador_pessoa_attributes_cpf").blur(function() {
      validaPessoa();
});
</script>
