<section class="content-header">
    <%if notice%>
      <div class="alert alert-success" role="alert"><%= notice %></div>
      <%end%>
</section>

<!-- Main content -->
<section class="content">
 <!-- Small boxes (Stat box) -->
<div class="box box-primary">
   <div class="box-header with-border">
      <h3 class="box-title">Morador</h3>
    </div><!-- /.box-header -->
<form role="form">
<div class="box-body">

<div class="row">
  <div class="col-lg-6" >
      <%= image_tag @morador.pessoa.avatar.url(:thumb) %>
  </div>
</div>
<br>
<p>
    <strong>Nome:</strong>
    <%= @morador.pessoa.nome_pessoa %>
</p>
<p>
  <strong>Apartamento:</strong>
  <%= @morador.apartamento.numr_apartamento %> <%= @morador.apartamento.numr_bloco %>
</p>
<p>
    <strong>CPF:</strong>
    <%= @morador.pessoa.cpf %>
</p>
<p>
    <strong>RG:</strong>
    <%= @morador.pessoa.rg %>
</p>

</div><!-- /.box -->
</form>
</div><!-- /.box-body -->

<div class="btn-group">
     <%= link_to edit_morador_path(@morador), :class => "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-pencil"></span> Editar
<% end %>
<%= link_to moradors_path, :class => "btn btn-default btn-sm" do %>
   <span class="glyphicon glyphicon-arrow-left"></span> Voltar
<% end %>
</div>
