<p id="notice"><%= notice %></p>

<p>
  <strong>Desc tipocontado:</strong>
  <%= @contatoprestador.desc_tipocontado %>
</p>

<p>
  <strong>Desc contato:</strong>
  <%= @contatoprestador.desc_contato %>
</p>

<p>
  <strong>Prestador:</strong>
  <%= @contatoprestador.prestador %>
</p>

<%= link_to 'Edit', edit_contatoprestador_path(@contatoprestador) %> |
<%= link_to 'Back', contatoprestadors_path %>
