<%= form_for(@contabank) do |f| %>
  <% if @contabank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contabank.errors.count, "error") %> prohibited this contabank from being saved:</h2>

      <ul>
      <% @contabank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="box-body">
  <div class="row">
   <div class="col-lg-4">
     <%= f.label :Agencia %><br>
     <%= f.text_field :numr_agencia, :class=>"form-control"%>
   </div>
 </div>
 <div class="row">
   <div class="col-lg-4">
      <%= f.label :Conta %><br>
      <%= f.text_field :numr_conta, :class=>"form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <%= f.label :nome_banco %><br>
      <%= f.text_field :nome_banco, :class=>"form-control" %>
   </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <%= f.label :situacao %><br>
      <%= f.collection_select :situacao, Contabank::SITUACAO, :to_s, :humanize,{},{ :class => 'form-control' }%>
    </div>
  </div>

  <%= f.hidden_field :user_inclusao, :value=>current_user.id%>
  <%= f.hidden_field :condominio_id, :value=> current_user.condominio_id%>

</div>
</div><!-- /.box -->

<div class="row mar-bot40">
 <div class="col-lg-8" >
    <div class="btn-group">
      <button type="submit" value="Submit" class="btn btn-primary btn-sm">
       <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
      </button>
      <%= link_to contabanks_path, :class => "btn btn-default btn-sm" do %>
         <span class="glyphicon glyphicon-arrow-left"></span> Voltar
       <% end %>
     </div>
   </div>
</div>
</section>
<% end %>
