<p id="notice"><%= notice %></p>

<p>
  <strong>Numr tipodivida:</strong>
  <%= @divida.numr_tipodivida %>
</p>

<p>
  <strong>Numr cheque:</strong>
  <%= @divida.numr_cheque %>
</p>

<p>
  <strong>Data vencimento:</strong>
  <%= @divida.data_vencimento %>
</p>

<p>
  <strong>Valr divida:</strong>
  <%= @divida.valr_divida %>
</p>

<p>
  <strong>Desc observacao:</strong>
  <%= @divida.desc_observacao %>
</p>

<p>
  <strong>Numg tipopagamento:</strong>
  <%= @divida.numg_tipopagamento %>
</p>

<p>
  <strong>Data cadastro:</strong>
  <%= @divida.data_cadastro %>
</p>

<p>
  <strong>Desc docprincipal:</strong>
  <%= @divida.desc_docprincipal %>
</p>

<p>
  <strong>Data cancelamento:</strong>
  <%= @divida.data_cancelamento %>
</p>

<p>
  <strong>Data pagamento:</strong>
  <%= @divida.data_pagamento %>
</p>

<p>
  <strong>Valr pagamento:</strong>
  <%= @divida.valr_pagamento %>
</p>

<p>
  <strong>Valr multa:</strong>
  <%= @divida.valr_multa %>
</p>

<p>
  <strong>Valr juro:</strong>
  <%= @divida.valr_juro %>
</p>

<p>
  <strong>Numr notafiscal:</strong>
  <%= @divida.numr_notafiscal %>
</p>

<p>
  <strong>Numr parcela:</strong>
  <%= @divida.numr_parcela %>
</p>

<p>
  <strong>Desc caminhocheque:</strong>
  <%= @divida.desc_caminhocheque %>
</p>

<p>
  <strong>Flag ordinaria:</strong>
  <%= @divida.flag_ordinaria %>
</p>

<p>
  <strong>Flag despesafixa:</strong>
  <%= @divida.flag_despesafixa %>
</p>

<p>
  <strong>Condominio:</strong>
  <%= @divida.condominio %>
</p>

<p>
  <strong>Contabanck:</strong>
  <%= @divida.contabank %>
</p>

<p>
  <strong>Prestador:</strong>
  <%= @divida.prestador %>
</p>

<%= link_to 'Edit', edit_divida_path(@divida) %> |
<%= link_to 'Back', dividas_path %>
