<%= form_for(@agendamentomudanca) do |f| %>

<div class="box-body">

  <% if @agendamentomudanca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agendamentomudanca.errors.count, "error") %> prohibited this agendamentomudanca from being saved:</h2>

      <ul>
      <% @agendamentomudanca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-2">
    <%= f.label :Entrada %><br>
    <%= f.check_box :flag_entrada %>
  </div>
  <div class="col-lg-2">
    <%= f.label :Saida %><br>
    <%= f.check_box :flag_saida %>
  </div>
</div>

<div class="row">
    <div class="col-lg-5">
     <%= f.label :nome %><br>
     <%= f.text_field :nome, :class => 'form-control' %>
    </div>
  <div class="col-lg-2">
    <%= f.label :fone %><br>
    <%= f.text_field :fone, :class => 'form-control'  %>
   </div>
</div>

<div class="row">
      <div class="col-lg-7">
          <label>Apartamento</label>
           <input type="text" class="form-control" id="nome_apartamento" class="form-control" placeholder="Pesquise pelo apartamento" value="<%=@agendamentomudanca.apartamento !=nil ? @agendamentomudanca.apartamento.nome : ''%>" onfocus="javascript:$(this).autocomplete('search','');">
            <%= f.hidden_field :apartamento_id%>
       </div>
</div>

<div class="row">
   <div class="form-group">
    <div class="col-lg-2">
      <label>Data Agendamento</label>
     <div class="input-group date" id="datetimepicker1">
      <%= f.text_field :data_agendamento, class: 'form-control' %>
       <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
     </div>
    </div>
   </div>
</div>

  <div class="row">
    <div class="col-lg-2">
      <label>Valor da Taxa</label>
     <%= f.text_field :valr_taxa, :class => 'form-control' %>
    </div>
 </div>

  <div class="row">
      <div class="col-lg-3">
        <label>Periodo</label>
        <%= f.collection_select :periodo, Agendamentomudanca::PERIODO, :to_s, :humanize,{},{ :class => 'form-control' }%>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-8">
      <label>Observação</label>
      <%= f.text_area :observacao, :class => 'form-control' %>
     </div>
  </div>

  <%= f.hidden_field :condominio_id, :value => current_user.condominio_id %>

</div><!-- /.box -->
</div>

<div class="row mar-bot40">
 <div class="col-lg-8" >
    <div class="btn-group">
      <button type="submit" value="Submit" class="btn btn-primary btn-sm">
       <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
      </button>
      <%= link_to agendamentomudancas_path, :class => "btn btn-default btn-sm" do %>
         <span class="glyphicon glyphicon-arrow-left"></span> Voltar
       <% end %>
     </div>
   </div>
</div>
</section>
<%end%>

<script type="text/javascript">

$(function () {
   $('#datetimepicker1').datepicker({
     format: 'dd/mm/yyyy',
     language: 'pt-BR'
   });
});

$(document).ready(function() {
       $('#nome_apartamento').autocomplete({
       source: '/buscaapartamento',
       dataType: 'json',
       minLength: 0,
       change: function(event, ui) {
       if (!ui.item) {
         $('#nome_apartamento').val('');
       }
    },
    select: function(event, ui) {
        if (ui.item) {
              $("#agendamentomudanca_apartamento_id").val(ui.item.id);
           }
         }
     });
  });

$(function() {
     $("#agendamentomudanca_valr_taxa").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
   });
</script>
