<%= form_for(@cobertura) do |f| %>
  <% if @cobertura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cobertura.errors.count, "error") %> prohibited this cobertura from being saved:</h2>

      <ul>
      <% @cobertura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_cobertura %><br>
    <%= f.text_field :nome_cobertura %>
  </div>
  <div class="field">
    <%= f.label :condominio %><br>
    <%= f.text_field :condominio_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
