<p id="notice"><%= notice %></p>

<h1>Listing Coberturas</h1>

<table>
  <thead>
    <tr>
      <th>Nome cobertura</th>
      <th>Condominio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coberturas.each do |cobertura| %>
      <tr>
        <td><%= cobertura.nome_cobertura %></td>
        <td><%= cobertura.condominio %></td>
        <td><%= link_to 'Show', cobertura %></td>
        <td><%= link_to 'Edit', edit_cobertura_path(cobertura) %></td>
        <td><%= link_to 'Destroy', cobertura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cobertura', new_cobertura_path %>
