<p id="notice"><%= notice %></p>

<h1>Listing Funcaos</h1>

<table>
  <thead>
    <tr>
      <th>Desc funcao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcaos.each do |funcao| %>
      <tr>
        <td><%= funcao.desc_funcao %></td>
        <td><%= link_to 'Show', funcao %></td>
        <td><%= link_to 'Edit', edit_funcao_path(funcao) %></td>
        <td><%= link_to 'Destroy', funcao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funcao', new_funcao_path %>
