<p id="notice"><%= notice %></p>

<h1>Listing Grupopermissaos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupopermissaos.each do |grupopermissao| %>
      <tr>
        <td><%= grupopermissao.nome %></td>
        <td><%= link_to 'Show', grupopermissao %></td>
        <td><%= link_to 'Edit', edit_grupopermissao_path(grupopermissao) %></td>
        <td><%= link_to 'Destroy', grupopermissao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupopermissao', new_grupopermissao_path %>
