<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Cópia do pedido de RESERVA. Aguardando CONFIRMCAÇÃO, <%= @reserva.condominio.nome_condominio %><br>
      Unidade: <%=@reserva.apartamento.numr_apartamento%> - <%=@reserva.apartamento.numr_bloco%> <br>
      Local Reservado: <%=@reserva.tiporeserva.desc_tiporeserva%> <br>
      Data do Reserva <%@reserva.data_reserva.strftime("%d/%m/%Y") %> Das <%=@reserva.hora_inicio%> hs às <%=@reserva.hora_fim%> hs. <br>
      Data do Comprovante: <%=@reserva.created_at.strftime("%d/%m/%Y %H:%M:%S" ) %> <br>
      Solicitante: <%=@reserva.nome_solicitante%> <br>
      <%=@reserva.userinclusao.pessoa.nome_pessoa%>

  </body>
</html>
