<%= form_for(@mural) do |f| %>
  <% if @mural.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mural.errors.count, "error") %> prohibited this mural from being saved:</h2>

      <ul>
      <% @mural.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="box-body">


  <div class="row">
     <div class="col-lg-6">
          <%= f.label :Categoria_documento %><br>
          <%= f.select :categoriamural_id, options_from_collection_for_select(Categoriamural.where(condominio_id: current_user.condominio_id), 'id', 'nome_categoria'), {:include_blank => true}, {:class => 'form-control'}%>
      </div>
  </div>

  <div class="row">
   <div class="col-lg-6">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo, :class => "form-control" %>
   </div>
  </div>
  <div class="row">
   <div class="col-lg-6">
     <label>Descrição</label>
    <%= f.text_area :descricao, :class => "form-control" %>
   </div>
  </div>
  <br>


  <div class="row">
   <div class="col-lg-6">
     <label>Documento PDF</label>
     <%= f.file_field :pdf %>
   </div>
  </div>
 <%= f.hidden_field :condominio_id, :value => current_user.condominio_id %>


</div>
</div><!-- /.box -->

  <div class="row mar-bot40">
    <div class="col-lg-8" >
       <div class="btn-group">
         <button type="submit" value="Submit" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
         </button>
         <%= link_to murals_path, :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-arrow-left"></span> Voltar
          <% end %>
        </div>
      </div>
  </div>
</section>
<% end %>
