<p id="notice"><%= notice %></p>

<p>
  <strong>Tiporeserva:</strong>
  <%= @tiporeservacondominio.tiporeserva %>
</p>

<p>
  <strong>Condominio:</strong>
  <%= @tiporeservacondominio.condominio %>
</p>

<%= link_to 'Edit', edit_tiporeservacondominio_path(@tiporeservacondominio) %> |
<%= link_to 'Back', tiporeservacondominios_path %>
