<!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="/assets/default.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p><%=current_user.pessoa.nome_pessoa.at(0..12)%>...</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <!--<div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>-->
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MENU NAVEGAÇÃO</li>
          <%#@orcamentoempresa = Orcamentoempresa.busca(current_user.empresa_id).order(created_at: :desc)%>
          <%#if current_user.empresa_id == 1%>

          <%unless current_user.tem_permissao(4)%>
           <li class="treeview">
                <a href="">
                  <i class="glyphicon glyphicon-home"></i> <span>Portaria</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                   <li> <%= link_to  ocorrencia_path do %><i class="fa fa-circle-o"></i><span>Controle Acesso</span><% end %></li>
                   <li> <%= link_to  encomendas_path do %><i class="fa fa-circle-o"></i><span>Encomendas</span><% end %></li>
                   <li> <%= link_to achadoperdidos_path do %><i class="fa fa-circle-o"></i><span>Achados Perdidos</span><% end %></li>
                   <li> <%= link_to agendamentomudancas_path do %><i class="fa fa-circle-o"></i><span>Agendamento de Mudança</span><% end %></li>
                </ul>
            </li>

             <li class="treeview">
                   <a href="">
                     <i class="fa fa-edit"></i> <span>Cadastros</span>
                     <i class="fa fa-angle-left pull-right"></i>
                   </a>
                   <ul class="treeview-menu">
                      <li> <%= link_to  condominios_path do %><i class="fa fa-circle-o"></i><span>Condominios</span><% end %></li>
                      <li> <%= link_to  apartamentos_path do %><i class="fa fa-circle-o"></i><span>Apartamentos</span><% end %></li>
                      <li> <%= link_to  moradors_path do %><i class="fa fa-circle-o"></i><span>Moradores</span><% end %></li>
                      <li> <%= link_to  tiporeservas_path do %><i class="fa fa-circle-o"></i><span>Local Reserva</span><% end %></li>
                      <li> <%= link_to  prestadors_path do %><i class="fa fa-circle-o"></i><span>Prestadores</span><% end %></li>
                      <li> <%= link_to  termos_path do %><i class="fa fa-circle-o"></i><span>Termos</span><% end %></li>
                      <li> <%= link_to  bairros_path do %><i class="fa fa-circle-o"></i><span>Bairros</span><% end %></li>
                   </ul>
                 </li>
           <%end%>
          <li>
             <%= link_to  reservas_path do %>
             <i class="fa fa-calendar-o"></i>
                <span>Reservas</span>
                <% end %>
          </li>

    <%unless current_user.tem_permissao(4)%>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-pie-chart"></i>
              <span>Relatórios</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
               <li> <%= link_to  relatorio_reservas_path do %><i class="fa fa-circle-o"></i><span>Reservas</span><% end %></li>
            </ul>
            <ul class="treeview-menu">
               <li> <%= link_to  relatorioacesso_relatorio_path do %><i class="fa fa-circle-o"></i><span>Acesso</span><% end %></li>
            </ul>
            <ul class="treeview-menu">
               <li> <%= link_to  relatoriodespesa_relatorio_path do %><i class="fa fa-circle-o"></i><span>Despesas</span><% end %></li>
            </ul>
          </li>
     <%end%>

    <%unless current_user.tem_permissao(4)%>
        <li class="header">FINANCEIRO</li>
            <li>
             <%= link_to  dividas_path do %>
                  <i class="fa fa-usd"></i>
                   <span> Despesas</span>
                <% end %>
            </li>
            <li>
             <%= link_to  contabanks_path do %>
                  <i class="fa fa-bars"></i>
                   <span> Contas</span>
                <% end %>
            </li>
            <li>
            <%= link_to inadimplentes_path do %>
                 <i class="fa fa-ban "></i>
                  <span> Inadimplentes</span>
               <% end %>
           </li>

         <li class="header">Usuários</li>
          <li>
             <%= link_to  usuarios_path do %>
             <i class="fa fa-user-plus"></i>
                <span>Novo Usuário</span>
                <% end %>
          </li>
      <%end%>
          <li>
             <%= link_to  edit_user_registration_path do %>
                  <i class="fa fa-user"></i>
                   <span>Editar Usuário</span>
                <% end %>
          </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

<style media="screen">
  a:link
  {
     text-decoration:none;
  }
</style>
