<section class="content-header">
    <h6>
      <!--Mensagens aqui-->
    <p id="notice"><%= notice %></p>
    </h6>
  </section>

   <!-- Main content -->
 <section class="content">
    <!-- Small boxes (Stat box) -->
       <div class="box box-primary">
             <div class="box-header with-border">
               <h3 class="box-title">Bairro</h3>
              </div><!-- /.box-header -->
        <form role="form">
         <div class="box-body">
		<p>
		  <strong>Nome bairro:</strong>
		  <%= @bairro.nome_bairro %>
		</p>

		<p>
		  <strong>Cidade:</strong>
		  <%= @bairro.cidade.nome_cidade %>
		</p>

       </div><!-- /.box -->
    </form>
</div><!-- /.box-body -->

<div class="btn-group">
  <%= link_to edit_bairro_path(@bairro), :class => "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-pencil"></span> Editar
  <% end %>
  <%= link_to bairros_path, :class => "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>
</div>
