<section class="content">
      <!-- Small boxes (Stat box) -->
  <div class="box box-primary">
    <div class="box-header with-border"
      <h3 class="box-title">Editar Usuário</h3>
          </div><!-- /.box-header -->

<div class="box-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages!%>

<div class="row">
  <div class="col-lg-6">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
  </div>
</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<div class="row">
  <div class="col-lg-6">
    <%= f.label :Nova_senha %> <br/>
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= f.label :Confirma_nova_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= f.label :Senha_atual %><br />
    <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
  </div>
</div>

<%#= link_to "Back", :back %>
<!-- <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

</div>
</div><!-- /.box -->

<div class="row mar-bot40">
 <div class="col-lg-8" >
    <div class="btn-group">
      <button type="submit" value="Submit" class="btn btn-primary btn-sm">
       <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
      </button>
      <%= link_to root_path, :class => "btn btn-default btn-sm" do %>
         <span class="glyphicon glyphicon-arrow-left"></span> Voltar
       <% end %>
     </div>
   </div>
</div>
</section>
<% end %>
